<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="sec-1">
        <header class="wrapper-header">
          <button>Webinar</button>
          <h1>Watch Goldman Sachs, Nacha, and Modern Treasury discuss the future of embedded payments.</h1>
          <a href="#">Watch the webinar.</a>
          <img src="Frame.png" alt="">

          <div class="wrapper-img">
          <img src="Frame1.png" alt="">
        </div>
        </header>

        <div class="wrapper-header2">
            <a href="">Platform</a>
            <a href="">Solutions</a>
            <a href="">Resources</a>
            <a href="">Pricing</a>

            <div class="wrapper-btn">
                <a href="">Log in</a>
                <button>Sign up
                    <img class="cansle-img" src="Frame.png" alt="">
                </button>
                <img src="Frame3.png" alt="">
            </div>
        </div>

          <div class="wrapper-text">
            <div class="wrapper-img1">
            
                <img src="IMAGE.png" alt="">
                
                <p>Modernize your company’s money movement</p>
             </div>
                <h1>Build products <br>
                    that move money</h1>

                <p>Modern Treasury’s payment operations platform and flexible <br>
                     APIs enable you to add money movement and tracking to your <br>
                      products without the heavy lifting.</p>

                <div class="wrapper-btn1">
                    <button>Talk to a Payments Advisor<img src="Frame.png" class="cansle-img" alt=""></button>
                    <a href="">Start building<img src="Frame.png" class="cansle-img" alt=""></a>
                </div>

          </div>
        

          <div class="wrapper-text1">
            <h1>Over <span>$5B</span>Reconciled Monthly</h1>
            <p>Trusted by fast-growing companies in the economy’s most important sectors.</p>
          </div>
            
          <div class="wrapper-text2">
            <a href="">Read customer case studies<img src="Frame.png" class="cansle-img" alt=""></a>
          </div>
    </section>

    <section class="sec-2">
 
            <img class="hero-img" src="IMAGE2.png" alt="">
        
       <div class="wrapper-text3">
        
      

        <p>The State of Payment Operations</p>
        <h1>Money’s Next Move</h1>
        <p>It’s 2022, and financial services are at an inflection point. It’s <br>
             natural to have questions. We did too. So, Modern Treasury and <br>
              Harris Poll conducted a survey where financial and product <br>
               execs revealed the current issues they face while managing
               <br>
                payment operations.</p>
        <div class="wrapper-btn3">
            <button>Download the Report<img src="Frame.png" class="cansle-img" alt=""></button>
            <a href="">Learn more<img src="Frame.png" class="cansle-img" alt=""></a>
        </div>
        
       </div>

    </section>

    <section class="sec-3">
        
        <div class="wrapper-text4">
            <h1>Our Products</h1>
            <p>There's a lot more to money movement than just moving money. Our APIs automate money <br>
                 movement at scale, including bank integration, payments, and reconciliation, while the web <br>
                  app provides complete control over fund flows with approval workflows, notifications, <br>
                   reporting, and more.</p>
        </div>

        <div class="container">

        <div class="wrapper-components">
            <p>Payments</p>
        <h1>Move money faster</h1>
        <p>We integrate directly with your bank instead of sitting in the <br>
             flow of funds, so payments move 2x faster. Set up approval <br>
              rules and track payments from initiation to reconciliation, with <br>
               support for ACH, RTP, Wire and global payment methods <br>
                through a single API and web app.</p>
        <div class="wrapper-btn3">
            <button>Learn about Payments<img src="Frame.png" class="cansle-img" alt=""></button>
        </div>

        </div>
    
    </div>

    <div class="container-1">

        <div class="wrapper-components">
            <p>Virtual Accounts</p>
        <h1>Reconcile payments <br>
             automatically</h1>
        <p>We automatically reconcile completed payments to <br>
             transactions on your bank statement as they are posted and <br>
              match returns and reversals to the original payment, <br>
               streamlining cash reconciliation. Our Virtual Accounts product <br>
                makes it easy to create and manage unique sub-accounts <br>
                 within your bank account to automate attributing incoming <br>
                  payments.</p>
        <div class="wrapper-btn4">
            <button>Learn about Virtual Accounts<img src="Frame.png" class="cansle-img" alt=""></button>
        </div>


    </div>

    <div class="container-2">

        <div class="wrapper-components">
            <p>Ledgers</p>
        <h1>Track balances in real time</h1>
        <p>We make it easy for products that move money at scale to track <br>
             balances in real time with Ledgers, a managed database <br>
              optimized for high volume financial transactions that can be <br>
               integrated in a few lines of code. Ledgers is immutable, <br>
                idempotent, and auditable, providing a reliable source of truth <br>
                 for all transactions taking place in your product.</p>
        <div class="wrapper-btn3">
            <button>Learn about Ledgers<img src="Frame.png" class="cansle-img" alt=""></button>
        </div>

        </div>

    </div>

    </section>

    <section class="sec-4">

        <div class="wrapper-text5">
            <h1>Use Cases</h1>
            <p>Use our flexible, scalable platform to move and track money however your product needs.</p>
        </div>
        
        <div class="container-4">

        <div class="container-3">

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

        </div>
    </div>

    <div class="container-5">

        <div class="container-3">

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

            <div class="wrapper-text6">
                <img src="Group 1.png" alt="">
                <h1>Automatic Payouts</h1>
                <p>Automate payouts and reconciliation at scale for multiple payment methods through a single API.</p>
            </div>

        </div>

    </div>
             
   
    </section>
     
    <section class="sec-5">
          
        <div class="wrapper-text7">
            <h1>Made for developers</h1>
            <p>Integrate Modern Treasury with REST APIs and webhooks. Our platform abstracts the <br>
                 complexity of bank integration, payment initiation and reconciliation, and balance tracking so <br> that you can focus on your product.</p>
        </div>

        <h1 class="h1">With our APIs you can:</h1>
        <div class="wrapper-radio">
           

           
        <form action="">

            <div class="wrapper-input">
            <input type="checkbox">
            <p>Onboard and verify counterparties.</p>
        </div>

            <div class="wrapper-input">
            <input type="checkbox">
            <p>Make and receive payments.</p>
        </div>
        <div class="wrapper-input">
            <input type="checkbox">
            <p>Monitor payment status in real time.</p>
        </div>
        <div class="wrapper-input">
            <input type="checkbox">
            <p>Check bank account balances.</p>
        </div>
        <div class="wrapper-input">
            <input type="checkbox">
            <p>Create and manage virtual accounts.</p>
        </div>
        <div class="wrapper-input">
            <input type="checkbox">
            <p>Add ledger functionality with double-entry <br>
                 bookkeeping.</p>

                 
           </div>
     
 

       
        
        </form>
<a href="">Explore the docs <img src="Frame.png" alt=""></a>
    </div>


             <div class="wrapper-window">
                <header>
                    cURL <img src="Frame4.png" alt="">
                </header>
                
                       
                       
                    <pre><code>
<span>curl</span> <span class="span-1">--request</span>   <span class="span-2">POST</span>\
  <span class="span-1">-u</span> ORGANIZATION_ID:API_KEY \
  <span class="span-1">--url</span> https://app.moderntreasury.com/api/counterparties \
  <span class="span-1">-H</span> <span class="span-2">'Content-Type: application/json'</span>       \
  <span class="span-1">-d</span> <span class="span-2">'{</span>
    <span class="span-2">"name": "Kenner, Bach & Ledeen",
"accounts": [{
"account_type": "checking",
"routing_details": [{
"routing_number_type": "aba",
"routing_number": "026009593"
}],
"account_details": [{
"account_number": "123456789"
}]
}]
}'</span>
                        </code></pre>
                        
                
             </div>
    </section>

    <section class="sec-6">
          <div class="wrapper-text7">
            <div class="text-style">
                <h1>All your bank accounts in one place</h1>
                <p>Our partnerships with leading commercial banks enable us to integrate directly with their <br>
                     core systems, helping you manage access to bank accounts, payments, transactions, cash <br>
                      balances and more through a single portal and API.</p>
                <a href="">Learn more about our bank integrations<img src="Frame.png" alt=""></a>
                
            </div>
            <img src="IMAGE3.png" alt="">
          </div>
    </section>
    
    <section class="sec-7">

        <img class="fn-img1" src="Frame6.png" alt="">

        <div class="wrapper-text8">

            <h1>Try Modern Treasury and see how smooth payment operations <br>
                 can be.</h1>

            <div class="wrapper-btn1">
                <button>Talk to a Payments Advisor<img src="Frame.png" class="cansle-img" alt=""></button>
                <a href="">Sign up<img src="Frame.png" class="cansle-img" alt=""></a>
            </div>
           
           

        </div>
       
        <img class="fn-img2" src="Frame5.png" alt="">

   </section>

   <section class="sec-8">
   
          <div class="wrapper-a">

            <h1>Subscribe to journal updates</h1>
            <p>Discover product features and get primers on <br>
                 the payments industry.</p>
            <button>Subscribe<img src="Frame.png" alt=""></button>
            
            <ul>
                <li><span>Popular guides</span></li>
                <li>How Neobanks Can Use Virtual Accounts</li>
                <li>Which Bank Partner is Best for You?</li>
                <li>When and How to Set Up an FBO Account</li>
            </ul>

            <ul>
                <li><span>Popular integrations</span></li>
                <li>Citibank</li>
                <li>JP Morgan Chase</li>
                <li>Silicon Valley Bank</li>
                <li>Wells Fargo</li>
                <li>NetSuite</li>
            </ul>

          </div>
            

          <div class="wrapper-a1">
            <ul>
                <li><span>Products</span></li>
                <li>Payments</li>
                <li>Ledgers</li>
                <li>Virtual Accounts</li>
                <li>Compliance</li>
            </ul>

            <ul>
                <li><span>Solutions</span></li>
                <li>Finance</li>
                <li>Developers</li>
                <li>For Banks</li>
                
            </ul>

          </div>

<footer>
    <div class="wrapper-text9">
        <img src="Frame7.png" alt="">
        <p>Made with 🌞 in Los Angeles</p>
    </div>

    <div class="wrapper-text10">
        <p>© Modern Treasury Corp</p>
        <p>Privacy</p>
        <p>Terms of Service</p>
    </div>
    
    <div class="wrapper-img2">
       <img src="Frame8.png" alt="">
       <img src="Frame9.png" alt="">
       <img src="Frame99.png" alt="">
    </div>
</footer>
   </section>
</body>
</html>